CMakeSettings.json
build/
winbuild/
.vs/
.vscode/
node_modules/
tools/tpack/textures/

tools/pack/target/
tools/pack/pom.xml.tag
tools/pack/pom.xml.releaseBackup
tools/pack/pom.xml.versionsBackup
tools/pack/pom.xml.next
tools/pack/release.properties
tools/pack/dependency-reduced-pom.xml
tools/pack/buildNumber.properties
tools/pack/.mvn/timing.properties
tools/pack/.mvn/wrapper/maven-wrapper.jar
tools/pack/out.png